@media screen and (max-width: 250px) {
    .card {
        p {
            line-height: 1.2em;
        }

        h1 {
            padding: 10px 0px 10px 0px;
        }

        a {
            margin-top: 5px;
        }
    }
}