* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.flex-container {
  height: 100%;
  padding: 5% 3% 5% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.card-sedans, .card-suvs, .card-luxury {
  color: white;
  max-width: 500px;
  max-height: 422px;
  padding: 13%;
}

.card-sedans h1, .card-suvs h1, .card-luxury h1 {
  font-family: 'Big Shoulders Display', cursive;
  padding: 20px 0px 20px 0px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.4rem;
}

.card-sedans p, .card-suvs p, .card-luxury p {
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.8em;
  font-size: 15px;
  padding: 10px 0px 10px 0px;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
}

.card-sedans a, .card-suvs a, .card-luxury a {
  display: block;
  padding: 5% 7% 5% 7%;
  margin-top: 20px;
  border-radius: 50px;
  text-decoration: none;
  background-color: #f2f2f2;
  text-align: center;
  width: 140px;
  border: 2px solid white;
}

.card-sedans a:hover, .card-suvs a:hover, .card-luxury a:hover {
  background-color: transparent;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  color: rgba(255, 255, 255, 0.75);
}

.card-sedans {
  background-color: #e38826;
  border-radius: 10px 10px 0px 0px;
}

.card-sedans a {
  color: #e38826;
}

.card-suvs {
  background-color: #006970;
}

.card-suvs a {
  color: #006970;
}

.card-luxury {
  background-color: #004241;
  border-radius: 0px 0px 10px 10px;
}

.card-luxury a {
  color: #004241;
}

@media screen and (min-width: 1000px) {
  .flex-container {
    height: 100vh;
  }
  .cards-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 100px;
  }
  .card-sedans, .card-suvs, .card-luxury {
    width: 270px;
    max-height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 4%;
  }
  .card-sedans a, .card-suvs a, .card-luxury a {
    margin-top: 50px;
    width: 140px;
  }
  .card-sedans {
    border-radius: 10px 0px 0px 10px;
  }
  .card-suvs {
    background-color: #006970;
    border-radius: 0;
  }
  .card-luxury {
    border-radius: 0px 10px 10px 0px;
  }
}

@media screen and (max-width: 256px) {
  .card-sedans p, .card-suvs p, .card-luxury p {
    line-height: 1.2em;
  }
  .card-sedans h1, .card-suvs h1, .card-luxury h1 {
    padding: 10px 0px 10px 0px;
  }
  .card-sedans a, .card-suvs a, .card-luxury a {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1400px) {
  .card-sedans, .card-suvs, .card-luxury {
    width: 400px;
    max-height: 500px;
  }
}

@media screen and (min-width: 1900px) {
  .card-sedans, .card-suvs, .card-luxury {
    width: 550px;
    max-height: 600px;
  }
}
/*# sourceMappingURL=style.css.map */